---
layout: "layouts/base.njk"
pageTitle: "About Designo Digital agency"
pageId: "about"
og_title: "About Designo | A Creative Agency Crafting Digital Experiences"
og_description: "Since 2010, Designo has partnered with startups, corporations, and nonprofits to craft impactful brands, products, and digital experiences that connect with audiences."
og_image: "https://ike-designo-website.vercel.app/assets/images/screenshots/company-about-page.jpg"
og_imageH: 466
og_imageAlt: "A screenshot of the designo's about page where we can see a group of people discussing product strategy during a meeting."
---
{% assign data = images %}
<style>{%cssmin "includes/company-common.css"%}</style>
<p hidden id="main_desc">A look at what define us the best way</p>
<header class="contain column no-gap" aria-labelledby="head_title" aria-describedby="hero-desc-1">
    <div class="img-wrapper">
        {% image data.hero.path data.hero.alt "375,480" %}
    </div>
    <div class="stack decorated section-content about-deco">
        <h1 id="head_title">{{ data.hero.title }}</h1>
        {% for paragraph in data.hero.paragraphs %}
        <p id="hero-desc-{{forloop.index}}">{{ paragraph }}</p>
        {% endfor %}
    </div>
</header>
<main aria-labelledby="main_desc" class="contain main-content xl-stack" id="main" tabindex="-1">
    <section class="column no-gap" aria-labelledby="section-1-title" aria-describedby="section-1-desc-1 section-1-desc-2">
        <div class="img-wrapper">
            {% image data.talent.path data.talent.alt "375,480" %}
        </div>
        <div class="stack decorated section-content">
            <h2 class="h3" id="section-1-title">{{ data.talent.title }}</h3>
            {% for paragraph in data.talent.paragraphs %}
            <p id="section-1-desc-{{forloop.index}}">{{ paragraph }}</p>
            {% endfor %}

        </div>
    </section>
    {% include "includes/locations.html" %}
    <section class="column no-gap" aria-labelledby="section-2-title" aria-describedby="section-2-desc-1 section-2-desc-2">
        <div class="img-wrapper">
            {% image data.deal.path data.deal.alt "375,480" %}
        </div>
        <div class="stack decorated section-content">
            <h2 class="h3" id="section-2-title">{{ data.deal.title }}</h2>
            {% for paragraph in data.deal.paragraphs %}
                <p id="section-2-desc-{{forloop.index}}">{{ paragraph }}</p>
            {% endfor %}
        </div>
    </section>
</main>

