@import url("/assets/style.css") layer(foundation);

input:invalid:not(:placeholder-shown) + .visually-hidden {
    clip-path: none;
    position: static;
    max-inline-size: max-content;
    color: var(--system-color-darkBlue);
}
:where(header:not(nav *), .banner) {
    --deco-size: 292px;
    --min-padding: 0;
    --posx: var(--x, right 0);
    --posy: var(--y, top calc(-0.5 * var(--s) - 1.5em));
    --bg: linear-gradient(to top, var(--c1), #0000)  var(--posx) var(--posy) / var(--s) no-repeat;
    --mask: var(--rounding) var(--posx) var(--posy) / var(--s) no-repeat;
    clip-path: none;
    text-align: start;
}

h1:where(header *) {
    text-transform: capitalize;
}

.text-primary {
    color: var(--system-color-orange);
}
.mb-xl {
    margin-block: 8rem;
}
h3:where(.locations *) {
    font-weight: 500;
}
a:where(.locations :only-of-type) {
    color: var(--system-color-lightOrange);
    font-weight: 500;
    text-decoration: none;
    border-radius: .5rem;
    padding: .75rem 1.5rem;
    background-color: var(--system-color-orange);

    &:hover {
        color: var(--system-color-darkBlue);
        background-color: var(--system-color-lightOrange);
    }
}

.decorated:where(section *) {
    --deco-clr: oklch(75% 45% 15 / .1);
    --deco-size: 292px;
    --bg: linear-gradient(var(--c1), #0000) right .75rem top 3rem / var(--s) no-repeat,
          linear-gradient(var(--c1), #0000) right calc(var(--s) + .75rem) top 3rem / var(--s) no-repeat;
    --mask: var(--rounding) right .75rem top 3rem / var(--s) no-repeat,
            var(--rounding) right calc(var(--s) + .75rem) top 3rem / var(--s) no-repeat;
    background-color: var(--system-color-lightOrange);
}

div:where(header > .banner, section > .stack) {
    --p-width: 30em;
    container: section_content / inline-size;
    min-block-size: 380px;
    padding: min(5vb, 3em) min(5vi, 1.5em);
    display: grid;
    place-content: var(--p-content, center);
}

main {
    --icon-fill: var(--system-color-peach);
    margin: 0;
    min-inline-size: 100vi;

    & > section:not(.locations) {
        --heading-clr: var(--system-color-orange);
    }
}

.cpy-locations {
    --clip: none;
    --xl-gap: 1.5rem;
    --p-content: stretch start;

    & > section {
        --row-align: stretch;
        --row-dir: column;
        --c-space: 0;
    }

    dd {
        --s-space: .75em;
    }

}
.content-clip > * {
    clip-path: var(--cc-path, none);
}

.map-view:not(.no-js *) + picture {
    display: none;
}

img:where(:is(header, section) *) {
    min-inline-size: 100%;
    max-block-size: 320px;
    object-fit: cover;
    object-position: var(--img-pos, bottom 0 left 0);
}

.contact-banner {
    --min-padding: min(5vi, 3rem);
    --row-dir: column;
    --row-align: stretch;
    --r-space: .5em;
    --alignment: stretch;
    max-block-size: max-content;

    form {
        display: flex;
        flex-flow: column nowrap;
        gap: .75rem;
    }
    label {
        text-transform: capitalize;
    }
    textarea {
        resize: none;
    }
    button {
        align-self: var(--button-align, center);
        padding: .75rem 1.5rem;
    }
}

@media screen and (min-width: 480px) {
    .cpy-locations {
        --p-content: center start;
        --cc-path: inset(0 round .5rem);

        & > section {
            --c-space: 1.5em;
            --row-dir: row;
        }
    }
    .banner {
        --deco-size: 380px;
        --x: left calc(var(--s) * -0.25);
        --y: top calc(var(--s) * -0.55);
    }
    :is(header, main) {
        min-inline-size: min(95vi, 1110px);
        margin-inline: auto;
    }

    :is(main, main > * + *) {
        --img-pos: 15px;
        margin-block-start: var(--xl-gap, 8rem);
    }

    .locations {
        --min-padding: 0;
    }

    :where(header, main > section:not(.locations)) {
        clip-path: var(--clip, inset(0 round .5rem));
    }
}

@media screen and (min-width: 768px) {
    header {
        --col-dir: row-reverse;
    }
    .contact-banner {
        --col-dir: row;
        --alignment: center;
        --button-align: end;
    }
    main>section {
        --col-dir: row;
        --p-width: 50em;
        --img-pos: 0;

        &:last-of-type {
            --col-dir: row-reverse;
        }
    }
    section:is(.cpy-locations > *) {
        --col-dir: row-reverse;
        &:nth-of-type(even) {
            --col-dir: row;
        }
    }

    img:where(.column *) {
        min-block-size: 100%;
    }

    .locations {
        --i-alignment: space-between;
        padding-inline: 1.5em;
    }

    div:where(:is(.stack, .banner):where(header > *, section > *)) {
        flex: 2 1 65%;
    }
    :where(header, main > section:not(.locations)) {
        max-block-size: 640px;
    }
    .banner {
        --deco-size: 640px;
        --x: left 0;
        --y: bottom 0;
    }
}
