@import url("/assets/style.css") layer(foundation);

:where(header:not(nav *), .banner) {
    --deco-size: 292px;
    --min-padding: 0;
    --posx: var(--x, right 0);
    --posy: var(--y, top calc(-0.5 * var(--s) - 1.5em));
    --bg: linear-gradient(to top, var(--c1), #0000)  var(--posx) var(--posy) / var(--s) no-repeat;
    --mask: var(--rounding) var(--posx) var(--posy) / var(--s) no-repeat;
    clip-path: none;
    text-align: start;
}

h1:where(header *) {
    text-transform: capitalize;
}

h3:where(.decorated *) {
    color: var(--system-color-orange);
}
.mb-xl {
    margin-block: 8rem;
}
h3:where(.locations *) {
    font-weight: 500;
}
a:where(.locations :only-of-type) {
    color: var(--system-color-lightOrange);
    font-weight: 500;
    text-decoration: none;
    border-radius: .5rem;
    padding: .75rem 1.5rem;
    background-color: var(--system-color-orange);

    &:hover {
        color: var(--system-color-darkBlue);
        background-color: var(--system-color-lightOrange);
    }
}

.decorated:where(section *) {
    --deco-clr: oklch(75% 45% 15 / .1);
    --deco-size: 292px;
    --bg: linear-gradient(var(--c1), #0000) right .75rem top 3rem / var(--s) no-repeat,
          linear-gradient(var(--c1), #0000) right calc(var(--s) + .75rem) top 3rem / var(--s) no-repeat;
    --mask: var(--rounding) right .75rem top 3rem / var(--s) no-repeat,
            var(--rounding) right calc(var(--s) + .75rem) top 3rem / var(--s) no-repeat;
    background-color: var(--system-color-lightOrange);
}

div:where(header > .banner, section > .stack) {
    --p-width: 30em;
    container: section_content / inline-size;
    min-block-size: 380px;
    padding: min(5vb, 3em) min(5vi, 1.5em);
    display: grid;
    place-content: center;
}

main {
    --icon-fill: var(--system-color-peach);
    margin: 0;
    min-inline-size: 100vi;
}

img:where(:is(header, section) *) {
    inline-size: 100%;
    max-block-size: 320px;
    object-fit: cover;
    object-position: var(--img-pos, bottom 0 left 0);
}

@media screen and (min-width: 480px) {
    .banner {
        --deco-size: 380px;
        --x: left calc(var(--s) * -0.25);
        --y: top calc(var(--s) * -0.55);
    }
    :is(header, header + main) {
        min-inline-size: min(95vi, 1110px);
        margin-inline: auto;
    }

    :is(main, main > * + *) {
        margin-block-start: 8rem;
    }

    .locations {
        --min-padding: 0;
    }

    :where(header, main > section:not(.locations)) {
        clip-path: inset(0 round .5rem);
    }
}

@media screen and (min-width: 768px) {
    header {
        --col-dir: row-reverse;
    }
    main>section {
        --col-dir: row;
        --p-width: 50em;

        &:last-of-type {
            --col-dir: row-reverse;
        }
    }

    img:where(.column *) {
        max-block-size: 100%;
    }

    .locations {
        --i-alignment: space-between;
        padding-inline: 1.5em;
    }

    div:where(:is(.stack, .banner):where(header > *, section > *)) {
        flex: 2 1 65%;
    }
    :where(header, main > section:not(.locations)) {
        max-block-size: 640px;
    }
    .banner {
        --deco-size: 640px;
        --x: left 0;
        --y: bottom 0;
    }

}
