<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
    <link rel="preload" href="/assets/just-vf.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="icon" sizes="32x32" href="/assets/favicon.ico">
    <link rel="icon" type="image/svg+xml" href="/assets/icon.svg">
    <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">

    {% set css %}
        {%include "includes/foundations.css" %}
    {% endset %}
    <style>
        {{css | safe}}
    </style>
    {% if stylePath %}
    <link rel="stylesheet" href="{{ stylePath }}">
    {% endif %}
    {% for path in extraStyles %}
        <link rel="stylesheet" href="{{ path }}">
    {% endfor %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ndimah Tchougoua">
    <meta name="description" content="a Modern digital agency helping their customers to fullfil their digital dreams">
    <meta name="color-scheme" content="only light">
</head>

<body>
    {% include "includes/navigation.html" %}
    {{ content | safe }}
    {% if pageId != "contact" %}
    {% include "includes/in-touch.html" %}
    {% endif %}

    {% include "includes/footer.html" %}

    <svg width="0" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1" aria-hidden="true">
        <defs>
            <clipPath id="arrow_left" clipPathUnits="objectBoundingBox">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="m.61.27c.01.01.01.03 0 .04l-.15.19.15.19c.01.02.01.04 0 .05-.02.01-.04.01-.05-.01l-.16-.21c-.01-.01-.01-.02 0-.04l.16-.21c.01-.01.03-.01.05 0z"
                    fill="currentColor" style="fill:var(--icon-fill, currentColor);" />
            </clipPath>
        </defs>
    </svg>
</body>

</html>
