<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
    <link rel="preload" href="/assets/just-vf.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="icon" sizes="32x32" href="/assets/favicon.ico">
    <link rel="icon" type="image/svg+xml" href="/assets/icon.svg">
    <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">

    <style>{%cssmin "includes/foundations.css" %}</style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ndimah Tchougoua">
    <meta name="description" content="a Modern digital agency helping their customers to fullfil their digital dreams">
    <meta name="color-scheme" content="only light">
    <! -- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ike-designo-website.vercel.app/">
    <meta property="og:site_name" content="Designo">
    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="Designo a digital agency for your digital needs">
    <meta property="og:description" content="With over 10 years in the industry, we are experienced in creating fully responsive websites, app design, and engaging brand experiences. Find out more about our services.">
    <meta property="og:image" content="https://ike-designo-website.vercel.app/assets/home-og-image.png">
    <meta property="og:image:width" content="1110">
    <meta property="og:image:height" content="610">
    <meta property="og:image:alt" content="the screen shot of the web page at https://ike-designo-website.vercel.app">
</head>

<body>
    <a href="#main" class="visually-hidden" id="skip-link">Skip to main content</a>
    {% include "includes/navigation.html" %}
    {{ content | safe }}
    {% if pageId != "contact" and pageId != "404" %}
    {% include "includes/in-touch.html" %}
    {% endif %}

    {% include "includes/footer.html" %}

    <svg width="0" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1" aria-hidden="true" class="visually-hidden">
        <defs>
            <clipPath id="arrow_left" clipPathUnits="objectBoundingBox">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="m.61.27c.01.01.01.03 0 .04l-.15.19.15.19c.01.02.01.04 0 .05-.02.01-.04.01-.05-.01l-.16-.21c-.01-.01-.01-.02 0-.04l.16-.21c.01-.01.03-.01.05 0z"
                    fill="currentColor" style="fill:var(--icon-fill, currentColor);" />
            </clipPath>
        </defs>
    </svg>
</body>

</html>
