<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
    <link rel="preload" href="/assets/just-vf.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="icon" sizes="32x32" href="/assets/favicon.ico">
    <link rel="icon" type="image/svg+xml" href="/assets/icon.svg">
    <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">

    <style>{%cssmin "includes/foundations.css" %}</style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ndimah Tchougoua">
    <meta name="description" content="a Modern digital agency helping their customers to fullfil their digital dreams">
    <meta name="color-scheme" content="only light">
    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{site.image.url}}{%if path%}/{{path}}{%endif%}">
    <meta property="og:site_name" content="{{site.image.name}}">
    <meta property="og:locale" content="en">
    <meta property="og:title" content="{%if og_title%}{{og_title}}{%else%}{{pageTitle}}{%endif%}">
    <meta property="og:description" content="{%if og_description%}{{og_description}}{%else%}{{site.image.description}}{%endif%}">
    <meta property="og:image" content="{%if og_image%}{{og_image}}{%else%}{{site.image.src}}{%endif%}">
    <meta property="og:image:width" content="{%if og_imageW%}{{og_imageW}}{%else%}{{site.image.width}}{%endif%}">
    <meta property="og:image:height" content="{%if og_imageH%}{{og_imageH}}{%else%}{{site.image.height}}{%endif%}">
    <meta property="og:image:alt" content="{%if og_imageAlt%}{{og_imageAlt}}{%else%}{{site.image.alt}}{%endif%}">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
</head>

<body>
    <p id="home-link-id" hidden>go to designo home page</p>
    <a href="#main" class="visually-hidden" id="skip-link">Skip to main content</a>
    {% include "includes/navigation.html" %}
    {{ content | safe }}
    {% if pageId != "contact" and pageId != "404" %}
    {% include "includes/in-touch.html" %}
    {% endif %}

    {% include "includes/footer.html" %}

    <svg width="0" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1" aria-hidden="true" class="visually-hidden">
        <defs>
            <clipPath id="arrow_left" clipPathUnits="objectBoundingBox">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="m.61.27c.01.01.01.03 0 .04l-.15.19.15.19c.01.02.01.04 0 .05-.02.01-.04.01-.05-.01l-.16-.21c-.01-.01-.01-.02 0-.04l.16-.21c.01-.01.03-.01.05 0z"
                    fill="currentColor" style="fill:var(--icon-fill, currentColor);" />
            </clipPath>
        </defs>
        <symbol viewBox="0 0 135.5 135.5" id="logo">
            <path d="M115.8 3C103 9.3 98.9 10.4 93.3 20.6c-5.1 9.5-3 21.1-4.1 31.7-.8 14.3-.2 29-4 43-4.4 10.9-19.1 16.9-29.2 10C44 99 40.4 80.2 51.2 71c8-7.4 21.4-8.4 30-1.5 2-4.6 1.4-26.7-.6-29.1-7-1.8-7-1.8-18.6-1a50 50 0 0 0-41.3 30.9c-3.1 11.2-2.7 13.6 2.2 31.3 7.8 16.1 12.2 19.9 25.2 22.9 11.4.5 22.7-4 31.8-10.5 13-10.2 21-25.2 27.5-40 7-17.3 9.4-36 9.2-54.5.2-5.4.4-10.9-.4-16.3L116 3h-.1zm.6 69.4c-10.7 14-17.1 31.5-31 43a75.4 75.4 0 0 1-32.7 14.2c-2.9 2 6 2 7.6 2.5 8.9.1 15.7 1.4 25.3-1 16.7-3 28-21 30.2-37.8 0-7 1.4-14 .6-21z" style="fill: var(--icon-fill, currentColor);"/>
        </symbol>
    </svg>
</body>

</html>
