<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    {% if stylePath %}
        <link rel="stylesheet" href="{{ stylePath }}">
    {% else %}
       <link rel="stylesheet" href="/assets/style.css">
    {% endif %}
</head>

<body>
    {% include "includes/navigation.html" %}
    {{ content }}
    {% if pageId != "contact" %}
      {% include "includes/in-touch.html" %}
    {% endif %}

    {% include "includes/footer.html" %}
</body>

</html>
