---
layout: "layouts/base.njk"
---

{{ content }}
<style>
    {%cssmin "includes/services.css"%}
</style>
<main class="xl-stack mt-xl" aria-labelledby="service-title">
    <h2 class="capitalize" id="service-title">our projects</h2>
    <div class="responsive-grid contain projects">
        {% for item in getProjects %}
        {% assign projectId= item.title | split: " " | join: "_" %}
        <article class="project-grid" aria-labelledby="{{projectId}}">
                {% image item.path item.alt "327" %}
                <div class="box stack">
                    <h3 id="{{projectId}}">{{item.title}}</h3>
                    <p>{{ item.description }}</p>
                </div>
            </article>
        {% endfor %}
    </div>
    <div class="column" aria-labelledby="other_heading">
        <h2 class="capitalize" id="other_heading">other services</h2>
        <div class="responsive-grid contain services">
            {% include "includes/services.html" %}
        </div>
    </div>
</main>
