<footer>
    <a href="/" class="row" aria-labelledby="home-link-id">
        <svg width="32" height="32">
            <use href="#logo">
        </svg>
        <span class="logo-grid">
            <span>designo</span>
            <span class="capitalize logo-desc">digital agency</span>
        </span>
    </a>
    <ul class="column" aria-labelledby="nav-links">
        {% for item in site.links %}
        <li aria-labelledby="foot-link-{{forloop.index}}"><a id="foot-link-{{forloop.index}}" href="{{ item.path }}">{{ item.title }}</a></li>
        {% endfor %}
    </ul>
    <dl class="stack">
        <dt>Designo Central Office </dt>
        <dd aria-labelledby="office-1"><span id="office-1"> 3886 Wellington Street</span></dd>
        <dd aria-labelledby="office-2"><span id="office-2">Toronto, Ontario M9C 3J5</span></dd>
    </dl>
    <dl class="stack">
        <dt>Contact Us (Central Office)</dt>
        <dd aria-labelledby="contact-1"><span id="contact-1">Phone : +1 253 863 8967</span></dd>
        <dd aria-labelledby="contact-2"><span id="contact-2">Email : contact@designo.co</span></dd>
    </dl>
    <div class="stack">
        <svg width="131" height="42" style="--icon-fill: var(--color-text, currentColor)">
            <title>developed by a human not by AI</title>
            <use href="/assets/sprites.svg#not-by-ai">
        </svg>
        <ul class="row">
            {% for item in site.socials %}
            <li aria-labelledby="social-{{ item.tag }}">
                <a href="{{ item.link }}" >
                    <svg width="24" height="24"><title id="social-{{ item.tag }}">{{ item.title }}</title><use href="/assets/sprites.svg#{{ item.tag }}"></svg>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</footer>
