<footer>
    <a href="/" class="logo" aria-label="go to designo home page" >designo</a>
    <ul class="column">
        {% for item in site.links %}
            <li><a href="{{ item.path }}">{{ item.title }}</a></li>
        {% endfor %}
    </ul>
    <dl class="stack">
        <dt>Designo Central Office </dt>
        <dd>3886 Wellington Street</dd>
        <dd>Toronto, Ontario M9C 3J5</dd>
    </dl>
    <dl class="stack">
        <dt>Contact Us (Central Office)</dt>
        <dd>P : +1 253-863-8967</dd>
        <dd>M : contact@designo.co</dd>
    </dl>
    <ul class="row">
        {% for item in site.socials %}
        <li><a href="{{ item.link }}" aria-label="{{ item.title }}"><svg width="24" height="24"><title>{{ item.title }}</title><use href="/assets/sprites.svg#{{ item.tag }}"></svg></a></li>
        {% endfor %}
    </ul>
</footer>
