.banner {
    --bg-size: contain;
    --col-align: center;
    --deco-size: calc(var(--m-height) - 2em);

    overflow-y: clip;
}

img:where(.banner > *) {
    transform: translateY(2em);
    filter: drop-shadow(8px -24px 35px oklch(35% 0.122 31deg / 50%));
    isolation: isolate;
    object-fit: contain;
}

@container (inline-size > 681px) {
    div:is(.banner > *) {
        --col-dir: column;
        --col-align: start;
    }

    img:where(.banner > *) {
        --bg-size: cover;

        transform: translateY(6em);
    }
}

@media screen and (width >= 768px) {
    .banner {
        --i-alignment: space-evenly;

        gap: 0;
    }

}
