<nav class="row box contain">
    <a href="/" class="logo">designo</a>
    <ul class="links ml-max md-show">
        {% for item in site.links %}
        {%set link_tag = item.path | split("/") | last %}
        <li class="fluid-type"><a href="{{item.path}}" {% if pageId == link_tag %} aria-current="page"{% endif %}>{{ item.title }}</a></li>
        {% endfor %}
    </ul>
    <div class="ml-max md-remove">
        <button popovertarget="mobile-menu" aria-labelledby="menu-open" class="no-padding">
            <svg width="24" height="24">
                <title id="menu-open">open page menu</title>
                <use href="/assets/sprites.svg#hamburger">
            </svg>
        </button>
        <section id="mobile-menu" role="dialog" aria-label="page menu" popover="manual">
            <div class="segragator box block-box" role="banner" aria-labelledby="menu-title">
                <h3 class="logo links" id="menu-title">designo</h3>
                <button popovertarget="mobile-menu" aria-labelledby="menu-close">
                    <svg width="24" height="24">
                       <title id="menu-close">close page menu</title>
                       <use href="/assets/sprites.svg#hamburger">
                    </svg>
                </button>
            </div>
            <ul class="box stack box-dark">
                 {% for item in site.links %}
                    <li><a href="{{item.path}}">{{item.title}}</a></li>
                 {% endfor %}
            </ul>
        </section>
    </div>
</nav>
