<nav class="row box contain">
    <a href="/" class="row" aria-labelledby="home-link-id">
        <svg width="32" height="32">
            <use href="#logo">
        </svg>
        <span class="logo-grid">
            <span>designo</span>
            <span class="capitalize logo-desc">digital agency</span>
        </span>
    </a>
    <ul class="links ml-max md-show" aria-labelledby="nav-links">
        {% for item in site.links %}
        {%set link_tag = item.path | split("/") | last %}
        <li class="fluid-type" aria-labelledby="link-{{link_tag}}"><a href="{{item.path}}" id="link-{{link_tag}}" {% if pageId == link_tag %} aria-current="page"{% endif %}>{{ item.title }}</a></li>
        {% endfor %}
    </ul>
    <div class="ml-max md-remove">
        <button popovertarget="mobile-menu" aria-labelledby="menu-open" class="no-padding">
            <svg width="24" height="24">
                <title id="menu-open">open page menu</title>
                <use href="/assets/sprites.svg#hamburger">
            </svg>
        </button>
        <section id="mobile-menu" role="dialog" aria-labelledby="nav-title" popover="manual">
            <div class="segragator box block-box" role="banner" aria-labelledby="menu-title">
                <p id="nav-title" hidden>page menu</p>
                <h3 id="menu-title" hidden>designo</h3>
                <div class="row" aria-labelledby="home-nav-title">
                    <span id="home-nav-title" hidden>designo digital agency</span>
                    <svg width="32" height="32" aria-hidden="true">
                        <use href="#logo">
                    </svg>
                    <span class="logo-grid">
                        <span>designo</span>
                        <span class="capitalize logo-desc">digital agency</span>
                    </span>
                </div>
                <button popovertarget="mobile-menu" aria-labelledby="menu-close">
                    <svg width="24" height="24">
                       <title id="menu-close">close page menu</title>
                       <use href="/assets/sprites.svg#hamburger">
                    </svg>
                </button>
            </div>
            <span id="nav-links" hidden>Available links</span>
            <ul class="box stack box-dark" aria-labelledby="nav-links">
                 {% for item in site.links %}
                    <li><a href="{{item.path}}">{{item.title}}</a></li>
                 {% endfor %}
            </ul>
        </section>
    </div>
</nav>
<script>const d=document;function c(e){return e.querySelectorAll(":is(a:any-link, button, input[type='checkbox'], "+"input[type='radio'], input[type='text'], input[type='password'], "+"input[type='email'], textarea, select):not([disabled])");}function t(e){const f=c(e);const a=f[0];const l=f[f.length-1];e.addEventListener("keydown",function(ev){let u=(ev.key==="Tab"||ev.keyCode===9);if(!u){return;}if(ev.shiftKey){if(d.activeElement===a){l.focus();ev.preventDefault();}}else{if(d.activeElement===l){a.focus();ev.preventDefault();}}});}d.querySelector("button[popovertarget='mobile-menu']").addEventListener("click",function(){t(d.getElementById("mobile-menu"));});</script>
