<style>{%cssmin "includes/services-preview.css" %}</style>
{% for item in services %}
{% if item.topic != pageTopic %}
{% assign service_title = item.title | replace: " ", "_"%}
<div class="relative" data-scroll-view="scale-up">
    {% image item.path "" "280,541" %}
    <div class="center transition-all service_content">
        <p class="heading h2">{{item.title}}</p>
        <a class="box extend-zone-start" href="{{ item.link }}">
            view content <span class="visually-hidden">about {{item.title}}</span>
            <svg aria-hidden="true" width="12" height="12">
                <use href="/assets/sprites.svg#right_arrow">
            </svg>
        </a>
    </div>
</div>
{% endif %}
{% endfor %}
{{ val }}
