<style>{%cssmin "includes/services-preview.css"%}</style>
<ul class="responsive-grid contain services" aria-label="view our services">
    {% for item in services %}
        {% if item.topic != pageTopic %}
        <li data-scroll-view="scale-up">
            {% image item.path item.alt "280,541" %}
            {% card item.title 2 "center transition-all service_content" %}
                <a class="box extend-zone-start" href="{{ item.link }}" data-icon="arrow_right" data-icon-position="end"> view content </a>
            {% endcard %}
        </li>
        {% endif %}
    {% endfor %}
    {{ val }}
</ul>
