---
layout: "layouts/base.html"
pageTitle: "Designo Digital Agency"
permalink: /
---
<header class="column banner decorated">
    {% card heading.title 1 "stack" %}
        <p>{{ heading.description }}</p>
        <a href="" class="btn btn-primary"> learn more </a>
    {% endcard %}
    {%image hero heading.heroAlt "284" %}
</header>
<main class="xl-stack">
    {% include "includes/services.html" %}
    <section class="features column">
        {% for feat in features %}
        <div class="grid">
            <svg width="202" height="202">
                <title>{{ feat.alt }}</title>
                <use href="/assets/sprites.svg#{{ feat.tag }}" />
            </svg>
            {% card feat.title 3 "stack" %}
                <p>{{ feat.description }}</p>
            {% endcard %}
        </div>
        {% endfor %}

    </section>
</main>


