---
layout: "layouts/base.njk"
pageTitle: "Designo Digital Agency"
---
<style>{% cssmin "includes/home-banner.css" %}</style>
<header class="column banner decorated" aria-labelledby="heading-title">
    <div class="column">
        <h1 id="heading-title">{{heading.title}}</h1>
        <p>{{heading.description}}</p>
        <a href="/company/about" class="btn btn-primary">learn more</a>
    </div>
    {%image hero heading.heroAlt "284" %}
</header>
<main class="xl-stack">
    {% include "includes/services.html" %}
    <style>{% cssmin "includes/home-features.css" %}</style>
    <section class="contain features column">
        {% for feat in features %}
        <article class="grid" data-scroll-view="fade-in">
            <svg width="202" height="202">
                <title>{{ feat.alt }}</title>
                <use href="/assets/sprites.svg#{{ feat.tag }}" />
            </svg>
            {% card feat.title 3 "stack" %}
                <p>{{ feat.description }}</p>
            {% endcard %}
        </article>
        {% endfor %}

    </section>
</main>


