---
layout: "layouts/base.njk"
pageTitle: "Designo Digital Agency"
---
<style>{% cssmin "includes/home-banner.css" %}</style>
<header class="column banner decorated" aria-labelledby="heading-title">
    <div class="column">
        <h1 id="heading-title">{{heading.title}}</h1>
        <p>{{heading.description}}</p>
        <a href="/company/about" class="btn btn-primary">learn more</a>
    </div>
    {%image hero heading.heroAlt "284" %}
</header>
<main class="xl-stack" id="main" tabindex="-1" aria-labelledby="content-desc">
    <p hidden="hidden" id="content-desc">A quick overview of designo digtal agency</p>
    <section class="responsive-grid contain services mt-xl" aria-labelledby="serv_head">
        <h2 class="visually-hidden capitalize" id="serv_head">our services</h2>
        {% include "includes/services.html" %}
    </section>
    <style>{% cssmin "includes/home-features.css" %}</style>
    <section class="contain features column" aria-labelledby="feat_head">
        <h2 class="visually-hidden capitalize" id="feat_head">our core values</h2>
        {% for feat in features %}
        {% assign f_title = feat.title | replace: " ", _ %}
        <article class="grid" data-scroll-view="fade-in" aria-labelledby="val_{{f_title}}">
            <svg width="202" height="202">
                <title>{{ feat.alt }}</title>
                <use href="/assets/sprites.svg#{{ feat.tag }}" />
            </svg>
            <div class="stack">
                <h3 id="val_{{f_title}}">{{feat.title}}</h3>
                <p>{{ feat.description }}</p>
            </div>
        </article>
        {% endfor %}
    </section>
</main>


