---
layout: "layouts/base.njk"
pageTitle: "Designo Digital Agency Locations"
pageId: "locations"
og_title: "Designo Locations | Offices in Canada, UK & Australia"
og_description: "Discover Designo's digital agency offices in Canada, the United Kingdom, and Australia. Contact our teams for professional digital design services."
og_image: "https://ike-designo-website.vercel.app/assets/images/screenshots/company-locations-page.jpg"
og_imageH: 407
og_imageAlt: "A screenshot of the designo locations page where we can see the Canada office location at 3886 Wellington street"
---
{% assign data = images %}

<style>{%cssmin "includes/company-common.css"%}</style>
<style>{%cssmin "includes/company-location.css"%}</style>
<p hidden="hidden" id="content-desc">Our locations around the world</p>
<main class="contain main-content cpy-locations stack no-js" id="main" aria-labelledby="content-desc" tabindex="-1">
    <section id="canada-infos" class="column content-clip">
        <div id="canada" class="map-view"></div>
        <div class="img-wrapper">
            {% image data.canada.path data.canada.alt "375,480" %}
        </div>
        <div class="stack decorated section-content">
            <h2>Canada</h2>
            <div class="row">
                {% for detail in data.canada.details %}
                {% assign k = forloop.index %}
                <dl class="stack">
                    <dt>{{detail.term}}</dt>
                    {% for desc in detail.descriptions %}
                    <dd aria-labelledby="ca-{{k}}-desc-{{forloop.index}}"><span id="ca-{{k}}-desc-{{forloop.index}}">{{desc}}</span></dd>
                    {% endfor %}
                </dl>
               {% endfor %}
            </div>

        </div>
    </section>
    <section id="australia-infos" class="column content-clip">
        <div id="australia" class="map-view"></div>
        <div class="img-wrapper">
            {% image data.australia.path data.australia.alt "375,480" %}
        </div>
        <div class="stack decorated section-content">
            <h2>Australia</h2>
            <div class="row">
                {% for detail in data.australia.details %}
                {% assign j = forloop.index %}
                <dl class="stack">
                    <dt>{{detail.term}}</dt>
                    {% for desc in detail.descriptions %}
                    <dd aria-labelledby="au-{{j}}-desc-{{forloop.index}}"><span id="au-{{j}}-desc-{{forloop.index}}">{{desc}}</span></dd>
                    {% endfor %}
                </dl>
               {% endfor %}
            </div>

        </div>
    </section>
    <section id="uk-infos" class="column content-clip">
        <div id="uk" class="map-view"></div>
        <div class="img-wrapper">
            {% image data.uk.path data.uk.alt "375,480" %}
        </div>
        <div class="stack decorated section-content">
            <h2>United Kingdom</h2>
            <div class="row">
                {% for detail in data.uk.details %}
                {% assign i = forloop.index %}
                <dl class="stack">
                    <dt>{{detail.term}}</dt>
                    {% for desc in detail.descriptions %}
                    <dd aria-labelledby="uk-{{i}}-desc-{{forloop.index}}"><span id="uk-{{i}}-desc-{{forloop.index}}">{{desc}}</span></dd>
                    {% endfor %}
                </dl>
               {% endfor %}
            </div>

        </div>
    </section>
</main>
<link rel="stylesheet" href="/assets/maplibre-gl.css">
<script src="/assets/maplibre-gl.js"></script>
<script src="/assets/map-integration.js" defer></script>
