---
layout: "layouts/base.html"
pageTitle: "Designo Digital Agency Locations"
---
{% assign data = images %}

<main class="cpy-locations column">
    <section id="canada-infos" class="column content-clip">
        {% image data.canada.path data.canada.alt "375,480" %}
        <div class="stack decorated">
            <h2>Canada</h2>
            <div class="row">
                {% for detail in data.canada.details %}
                <dl class="stack">
                    <dt>{{detail.term}}</dt>
                    {% for desc in detail.descriptions %}
                    <dd>{{desc}}</dd>
                    {% endfor %}
                </dl>
               {% endfor %}
            </div>

        </div>
    </section>
    <section id="australia-infos" class="column content-clip">
        {% image data.australia.path data.australia.alt "375,480" %}
        <div class="stack decorated">
            <h2>Australia</h2>
            <div class="row">
                {% for detail in data.australia.details %}
                <dl class="stack">
                    <dt>{{detail.term}}</dt>
                    {% for desc in detail.descriptions %}
                    <dd>{{desc}}</dd>
                    {% endfor %}
                </dl>
               {% endfor %}
            </div>

        </div>
    </section>
    <section id="uk-infos" class="column content-clip">
        {% image data.uk.path data.uk.alt "375,480" %}
        <div class="stack decorated">
            <h2>United Kingdom</h2>
            <div class="row">
                {% for detail in data.uk.details %}
                <dl class="stack">
                    <dt>{{detail.term}}</dt>
                    {% for desc in detail.descriptions %}
                    <dd>{{desc}}</dd>
                    {% endfor %}
                </dl>
               {% endfor %}
            </div>

        </div>
    </section>



</main>
